@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  line-height: 1.5;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 14px;
  color: #000000;
  counter-reset: reason flow;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.yugothic {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

.-sp {
  display: none;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  background-color: #f03a74;
  padding: 2px 12px 2px 2px;
}

.linkButton__icon {
  display: flex;
  padding: 8px;
  background-color: #ffffff;
}

.linkButton__text {
  margin-left: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.linkButton.-tel {
  background-color: #3a3531;
  margin-left: 40px;
}

.linkButton.-salon {
  padding: 0;
  margin: 20px 0;
  background-color: transparent;
  color: #3a3531;
  justify-content: flex-start;
  pointer-events: none;
}

.cta {
  background-image: url(../img/bg_stripe.png);
  background-size: cover;
  padding: 72px 0 100px;
}

.cta__heading {
  margin: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 45px;
}

.cta__headingPrimary {
  color: #ae960e;
  font-size: 55px;
}

.cta__vio, .cta__sparts {
  display: block;
  width: 60%;
  min-width: 600px;
  max-width: 845px;
  margin: 0 auto;
}

.cta__vio {
  margin-top: 40px;
}

.cta__plus {
  width: 100%;
  height: 70px;
  display: block;
  position: relative;
  margin: 32px 0;
}

.cta__plus::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #ae960e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta__plus::after {
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  background-color: #ae960e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta__links {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.cta__links .linkButton {
  width: 322px;
  justify-content: space-between;
  font-size: 22px;
  height: 74px;
}

.cta__links .linkButton__icon {
  padding: 16px 12px;
}

.cta__links .linkButton__text {
  letter-spacing: 2px;
  flex-grow: 0.5;
}

.dot {
  position: relative;
}

.dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ae960e;
  position: absolute;
  left: 50%;
  top: -16px;
  transform: translateX(-50%);
}

.address-copy {
  background-color: transparent;
  border: 1px solid #ae960e;
  color: #ae960e;
  margin-top: 8px;
  padding: 8px 22px;
  font-size: 13px;
}

.address-copy:hover {
  cursor: pointer;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #c9bb98;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal__closeButton {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 18px;
  padding: 2px;
  color: #3a3531;
}

.modal__logo {
  display: block;
  margin: 0 auto;
}

.modal__paragraph {
  font-size: 30px;
  text-align: center;
  margin: 32px auto 0;
}

.modal__shopNameWrapper {
  max-width: 384px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.modal__shopNameWrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  border: 1px solid #3a3531;
}

.modal__shopNameWrapper:first-of-type {
  margin-top: 16px;
}

.modal__shopNameWrapper:nth-of-type(2) {
  margin-top: 24px;
}

.modal__shopName {
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #c9bb98;
  position: relative;
  z-index: 10;
  padding: 0 8px;
}

.modal__tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 8px auto 0;
  max-width: 384px;
  padding: 8px 0;
  background-color: #3a3531;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  pointer-events: none;
}

.modal__icon {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .-pc {
    display: none;
  }
  .linkButton {
    position: relative;
    justify-content: flex-start;
    height: 100%;
  }
  .linkButton__icon img {
    width: 32px;
  }
  .linkButton.-tel {
    margin-left: 0;
  }
  .linkButton.-tel img {
    width: 28px;
  }
  .linkButton__text {
    position: absolute;
    left: calc(50% + 22px);
    transform: translateX(-50%);
  }
  .dot::before {
    width: 6px;
    height: 6px;
    top: -12px;
  }
}

@media screen and (max-width: 768px) {
  .-sp {
    display: block;
  }
  .address-copy {
    margin-top: 16px;
  }
  .linkButton.-salon {
    display: block;
    text-align: center;
    pointer-events: auto;
    margin: 8px 0 0;
  }
  .linkButton__text {
    left: 80%;
    margin-left: 0;
    width: 70%;
  }
  .modal__content {
    width: 90%;
    top: calc(50% - 24px);
    padding: 32px 8px;
  }
  .modal__logo {
    width: 36%;
  }
  .modal__paragraph {
    font-size: 25px;
  }
  .modal__shopName {
    font-size: 20px;
  }
  .modal__tel {
    font-size: 20px;
  }
  .modal__icon {
    width: 24px;
    margin-right: 12px;
  }
}

.header {
  background-image: url(../img/mv_bg.jpg);
  background-size: cover;
}

.header__navLink {
  color: #ffffff;
}

.header__catch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__catchInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__mvText {
  width: 31.73vw;
}

.header__mvImage {
  margin-left: 24px;
  width: 34vw;
}

@media screen and (min-width: 1025px) {
  .header__nav {
    display: flex;
    width: 94%;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 24px 0;
    letter-spacing: 1px;
  }
  .header__nav.-tab {
    display: none;
  }
  .header__navList {
    display: flex;
    flex-grow: 0.4;
    font-size: 17px;
    margin: 12px 0;
    align-items: center;
  }
  .header__navItem {
    margin: 0 22px;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
  .header__nav.-pc {
    display: none;
  }
  .header__navLink {
    margin-right: 4px;
  }
  .header__navLink .linkButton {
    background-color: #ae960e;
  }
  .header__trigger,
  .header__trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.4s;
  }
  .header__trigger {
    position: relative;
    width: 48px;
    height: 100%;
    background-color: #ae960e;
  }
  .header__trigger span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 2px;
    background-color: #fff;
  }
  .header__trigger span:first-of-type {
    transform: translate(-50%, 15px);
  }
  .header__trigger span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header__trigger span:nth-of-type(3) {
    transform: translate(-50%, 31px);
  }
  .header__trigger:hover {
    cursor: pointer;
  }
  .header__catch {
    padding-top: 2vw;
  }
  .header__navList {
    display: none;
    position: absolute;
    bottom: 33px;
    right: 0;
    width: 61%;
    background-color: rgba(174, 150, 14, 0.9);
    border: 2px solid #ffffff;
    padding: 20px 24px;
  }
  .header__navLink {
    width: 48%;
    height: 48px;
  }
  .header__navList .header__navLink {
    padding: 12px 0;
    border-bottom: 1px solid #fff;
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    font-size: 15px;
  }
  .header__navList .header__navLink::after {
    content: "";
    background-image: url(../img/icon_angle-light.png);
    background-size: cover;
    width: 7px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 35%;
  }
  .header__navItem:first-child .header__navLink {
    border-top: 1px solid #ffffff;
  }
  .header__navItem:last-child .header__navLink::before {
    content: "";
    background-image: url(../img/icon_present-light.png);
    background-size: cover;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
}

@media screen and (max-width: 768px) {
  .header__catch {
    justify-content: flex-end;
    padding-top: 10vw;
  }
  .header__catchInner {
    position: relative;
  }
  .header__mvText {
    position: absolute;
    width: 80vw;
    left: -12vw;
    top: 34vw;
  }
  .header__mvImage {
    width: 72.53vw;
  }
}

.merit {
  background-color: #000000;
  padding: 104px 0 100px;
}

.merit__heading {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 1px;
}

.merit__headingPrimary {
  color: #ae960e;
  font-size: 55px;
}

.merit__subHeading {
  color: #ae960e;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  margin: 16px 0 0;
}

.merit__list {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 40px auto 0;
}

.merit__item {
  background-color: #ffffff;
  width: 32%;
  max-width: 310px;
  padding: 0 20px 56px;
  border: 3px solid #ae960e;
}

.merit__item:not(:first-child) {
  margin-left: 24px;
}

.merit__item:first-child img {
  width: 64.5%;
}

.merit__item:nth-child(2) img {
  width: 41.22%;
}

.merit__item:nth-child(3) img {
  max-width: 180px;
  width: 80%;
}

.merit__itemImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px auto 0;
  height: 41.36%;
}

.merit__itemImage {
  display: block;
}

.merit__itemHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16.8% auto 0;
  font-size: clamp(16px, 1.81vw, 26px);
  font-weight: 300;
  color: #ae960e;
  height: clamp(50px, 5.78vw, 82px);
  text-align: center;
  line-height: 1.6;
}

.merit__itemParagraph {
  margin: 5% 0 0;
  font-size: clamp(13px, 1.2vw, 16px);
  letter-spacing: 1px;
}

.think {
  background-color: #9c9a98;
  padding: 104px 0 100px;
}

.think__heading {
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 1.7;
  font-size: 45px;
  color: #000000;
}

.think__headingSmall {
  color: #ffffff;
  font-size: 35px;
}

.think__headingLarge {
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 1px;
}

.think__headingLarge .dot::before {
  background-color: #ffffff;
}

.think__image {
  display: block;
  margin: 40px auto 0;
  width: 70%;
  max-width: 970px;
}

.reason {
  padding: 100px 0 180px;
}

.reason__heading {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

.reason__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.reason__subHeading {
  text-align: center;
  color: #ae960e;
  font-size: 35px;
  font-weight: 300;
  margin: 20px 0 0;
}

.reason__lead {
  text-align: center;
  line-height: 1.94;
  font-weight: 600;
  font-size: 18px;
  margin: 64px auto 0;
}

.reason__lead:not(:first-of-type) {
  margin: 40px auto 0;
}

.reason__list {
  width: 80%;
  max-width: 1120px;
  margin: 108px auto 0;
}

.reason__item {
  position: relative;
}

.reason__item img {
  position: relative;
  z-index: 100;
  width: 44.64%;
}

.reason__item:nth-child(odd) {
  margin-top: clamp(120px, 20vw, 130px);
}

.reason__item:nth-child(odd) .reason__text {
  background-color: #ae960e;
  left: 18%;
  padding: 24px 5% 48px 32.14%;
}

.reason__item:nth-child(odd) .reason__text::before {
  right: 48px;
  color: rgba(0, 0, 0, 0.4);
}

.reason__item:nth-child(even) {
  margin-top: clamp(120px, 20vw, 130px);
}

.reason__item:nth-child(even) img {
  display: block;
  margin: 0 0 0 auto;
}

.reason__item:nth-child(even) .reason__text {
  background-color: #9c9a98;
  padding: 24px 32.14% 48px 5%;
  left: 0;
  width: 82.14%;
}

.reason__item:nth-child(even) .reason__text::before {
  left: 48px;
  color: rgba(174, 150, 14, 0.6);
}

.reason__text {
  position: absolute;
  top: 50%;
  min-height: 306px;
}

.reason__text::before {
  position: absolute;
  top: -146px;
  counter-increment: reason 1;
  content: counter(reason, decimal-leading-zero);
  font-size: 220px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -12px;
}

.reason__itemHeading {
  color: #ffffff;
  font-size: clamp(20px, 2vw, 27px);
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 6px;
  margin: 0;
  position: relative;
  z-index: 10;
}

.reason__itemParagraph {
  font-size: clamp(15px, 1.4vw, 17px);
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-feature-settings: "palt";
}

.machine {
  padding: 100px 0;
}

.machine__heading {
  margin: 0;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.machine__heading:not(:first-of-type) {
  margin-top: 80px;
}

.machine__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.machine__paragraph {
  text-align: center;
  font-weight: 600;
  margin: 56px 0 0;
  line-height: 1.9;
  font-size: 18px;
}

.machine__paragraph:not(:first-of-type) {
  margin-top: 32px;
}

.machine__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  width: 80%;
  max-width: 1060px;
}

.machine__image {
  width: 50%;
}

.machine__comparison {
  margin: 64px auto 0;
  position: relative;
  width: 96%;
  max-width: 966px;
}

.machine__item {
  display: flex;
  justify-content: flex-end;
}

.machine__item span {
  display: inline-block;
  width: 180px;
  height: 296px;
  padding: 8px 0;
  margin-left: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: clamp(18px, 1.8vw, 25px);
  text-align: center;
  letter-spacing: 10px;
  text-indent: 10px;
  background-color: rgba(174, 150, 14, 0.6);
}

.machine__specs {
  width: 100%;
  height: 114px;
  position: absolute;
  display: flex;
}

.machine__specs.-zelmo {
  top: 54px;
  background-color: rgba(0, 0, 0, 0.3);
}

.machine__specs.-medical {
  bottom: 0;
  background-color: rgba(58, 53, 49, 0.2);
}

.machine__specsHeading {
  font-size: clamp(18px, 1.8vw, 25px);
  font-weight: 300;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.machine__specsHeading.-zelmo {
  color: #ffffff;
}

.machine__specsHeading.-medical {
  color: #3a3531;
}

.machine__evaluations {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 180px 180px 180px 180px;
}

.machine__evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
}

.voice {
  background-color: #3a3531;
  padding: 100px 0;
}

.voice__heading {
  margin: 0;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

.voice__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.voice__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 96%;
  max-width: 1060px;
  margin: 48px auto 0;
}

.voice__item {
  width: 33%;
}

.voice__image {
  width: 100%;
}

.flow {
  padding: 100px 0;
}

.flow__heading {
  font-size: 45px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0;
}

.flow__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.flow__list {
  width: 96%;
  max-width: 800px;
  margin: 100px auto 0;
}

.flow__item {
  padding: 20px 40px 28px 140px;
  position: relative;
}

.flow__item:first-child {
  box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.03);
}

.flow__item:nth-child(2) {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.04);
}

.flow__item:nth-child(3) {
  background: #756f6a;
  box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.1);
}

.flow__item:nth-child(3) .flow__itemHeading {
  letter-spacing: 16px;
}

.flow__item:nth-child(3) .flow__itemParagraph {
  color: #ffffff;
}

.flow__item:nth-child(4) {
  background-color: #3a3531;
  box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.08);
}

.flow__item:nth-child(4) .flow__itemParagraph {
  color: #ffffff;
}

.flow__item:not(:first-child) {
  margin-top: 80px;
}

.flow__item::before {
  position: absolute;
  top: -76px;
  left: 30px;
  color: #ae960e;
  counter-increment: flow 1;
  content: counter(flow) " ";
  font-size: 150px;
  font-weight: 800;
  line-height: 1;
}

.flow__itemHeading {
  color: #ae960e;
  font-size: 27px;
  font-weight: 300;
  margin: 0;
}

.flow__itemParagraph {
  margin: 4px 0 0;
  font-size: 17px;
  letter-spacing: 1px;
}

.price {
  padding: 100px 0;
}

.price__heading {
  text-align: center;
  margin: 0;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 2px;
}

.price__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.price__subHeading {
  margin: 32px 0 0;
  text-align: center;
  color: #ae960e;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 3px;
}

.price__subHeading.-other {
  margin: 48px 0 0;
}

.price__vioList {
  display: flex;
  width: 96%;
  max-width: 610px;
  margin: 20px auto 0;
}

.price__vioItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 190px;
}

.price__vioItem:not(:first-child) {
  margin-left: 20px;
}

.price__vioItemSpan {
  margin-top: 20px;
  text-align: center;
  color: #ae960e;
  font-size: 20px;
}

.price__table {
  width: 96%;
  max-width: 974px;
  margin: 48px auto 0;
  font-size: 25px;
  border-spacing: 4px;
}

.price__table tr .price__parts {
  font-weight: 300;
  background-color: #ae960e;
}

.price__table th {
  color: #ffffff;
  background-color: #c6b556;
  font-weight: 300;
  width: 25%;
  padding: 21px 0;
}

.price__table td {
  border: 1px solid #ae960e;
  color: #ae960e;
  text-align: center;
}

.price__table.-other {
  margin-top: 16px;
}

.price__table.-other th {
  width: 20%;
}

.price__caution {
  width: 96%;
  max-width: 974px;
  text-align: right;
  margin: 4px auto 0;
}

.price__caution small {
  display: block;
  color: #ae960e;
  font-size: 15px;
}

.price__otherList {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

.price__otherItem {
  flex-direction: column;
  align-items: center;
  max-width: 190px;
  color: #ae960e;
}

.price__otherItem:not(:first-child) {
  margin-left: 36px;
}

.price__otherItemSpan {
  display: block;
  font-size: 20px;
  text-align: center;
}

.price__otherItemSmall {
  display: block;
  text-align: center;
  font-size: 15px;
}

.faq {
  background-color: #ebeaea;
  padding: 100px 0;
}

.faq__heading {
  font-size: 60px;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
}

.faq__subHeading {
  margin: 8px 0 0;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: #ae960e;
}

.faq__list {
  width: 96%;
  max-width: 975px;
  margin: 28px auto 0;
}

.faq__item {
  background-color: #c0af50;
  box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.1);
}

.faq__item:not(:first-child) {
  margin-top: 32px;
}

.faq__questionWrapper {
  display: flex;
  padding: 8px 12px 20px;
  align-items: center;
  color: #ffffff;
  position: relative;
}

.faq__questionWrapper:hover {
  cursor: pointer;
}

.faq__iconHorizontal {
  width: 15px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 51%;
  right: 28px;
}

.faq__iconVertical {
  width: 1px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 43%;
  right: 35px;
}

.faq__itemQuestionNumber {
  margin: 0;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.faq__num {
  font-size: 40px;
  margin-left: 16px;
}

.faq__question {
  margin: 16px 0 0 32px;
  letter-spacing: 1px;
  font-size: 18px;
}

.faq__answer {
  padding-left: 120px;
  margin: 0;
  padding: 0 24px 24px 132px;
  line-height: 1.9;
  letter-spacing: 0.5px;
  font-size: 16px;
  display: none;
}

.salon {
  background-color: #3a3531;
  padding: 100px 0 192px;
}

.salon__infoWrapper {
  position: relative;
  width: 96%;
  margin: 48px auto 0;
  max-width: 1120px;
  overflow: hidden;
}

.salon__infoWrapper:not(:first-of-type) {
  margin-top: 188px;
}

.salon__heading {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.salon__info {
  background-color: #ffffff;
  max-width: 560px;
  padding-bottom: 40px;
}

.salon__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.salon__logo {
  margin: 0 32px;
  max-width: 124px;
}

.salon__image {
  vertical-align: bottom;
}

.salon__text {
  padding-left: 32px;
  position: relative;
}

.salon__text::before {
  content: "";
  width: 1px;
  height: 194px;
  display: block;
  background-color: #3a3531;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.salon__selector {
  position: relative;
  width: 79%;
}

.salon__selector::before {
  content: "";
  height: 60%;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background-color: #ae960e;
  width: 1px;
  z-index: 10;
}

.salon__selector::after {
  content: "";
  position: absolute;
  top: 54%;
  right: 12px;
  width: 12px;
  height: 8px;
  background-image: url(../img/icon_angle.png);
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.salon__addresses {
  font-style: normal;
  font-size: 14px;
}

.salon__address {
  margin: 0;
}

.salon__station {
  display: block;
  margin: 8px 0 0;
}

.salon__mapWrapper {
  position: absolute;
  top: 280px;
  left: 560px;
  width: 48.7%;
}

.salon__map {
  height: 0;
  overflow: hidden;
  padding-bottom: 71.28%;
  position: relative;
}

.salon__map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 96%;
}

.form {
  background-image: url(../img/bg_stripe.png);
  padding: 100px 0;
}

.form__heading {
  margin: 0;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 3px;
}

.form__headingPrimary {
  font-size: 55px;
  color: #ae960e;
}

.form__inner {
  width: 96%;
  max-width: 1000px;
  margin: 48px auto 0;
  padding: 64px 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(118, 117, 118, 0.2);
}

.form__lead {
  font-size: 15px;
  line-height: 2;
}

.form__inputForm {
  margin: 48px 0 0;
}

.form__item {
  display: flex;
  align-items: center;
}

.form__item input,
.form__item select {
  height: 48px;
  border: 1px solid #ae960e;
  padding-left: 1em;
  width: 79%;
}

.form__item select {
  appearance: none;
  width: 100%;
  -webkit-appearance: none;
  position: relative;
}

.form__item select:hover {
  cursor: pointer;
}

.form__item:not(:first-child) {
  margin-top: 12px;
}

.form__itemName {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.form__required {
  color: #d4a852;
  margin-left: 2px;
}

.form__sendButtonWrapper {
  text-align: center;
  margin: 32px auto 0;
}

.form__sendButton {
  background-color: #ae960e;
  color: #ffffff;
  border: none;
  font-size: 22px;
  padding: 24px 0;
  width: 380px;
  letter-spacing: 30px;
  text-indent: 30px;
  position: relative;
}

.form__sendButton:hover {
  cursor: pointer;
}

.form__sendButton::after {
  content: "→";
  position: absolute;
  pointer-events: none;
  right: 0;
}

.footer {
  background-color: #3a3531;
  text-align: center;
  padding: 48px 0;
}

.footer__logo {
  width: 50%;
  max-width: 142px;
}

@media screen and (max-width: 1024px) {
  .cta__linksWrapper .linkButton {
    height: 64px;
  }
  .cta__linksWrapper .linkButton.-tel {
    margin-left: 24px;
  }
  .reason__text::before {
    font-size: 160px;
    top: -96px;
    letter-spacing: -6px;
  }
  .reason__list {
    margin: 80px auto 0;
  }
  .reason__item:first-child {
    margin-top: 0;
  }
  .reason__item:nth-child(odd) .reason__text {
    padding: 24px 4% 48px 30.14%;
  }
  .reason__item:nth-child(odd) .reason__text::before {
    right: 40px;
  }
  .reason__item:not(:first-child) {
    margin-top: clamp(120px, 36vw, 212px);
  }
  .reason__itemHeading {
    font-size: clamp(16px, 2.13vw, 27px);
  }
  .reason__itemParagraph {
    font-size: clamp(13px, 1.4vw, 17px);
  }
  .salon__infoWrapper:not(:first-of-type) {
    margin-top: 120px;
  }
  .salon__info {
    margin: 0 auto;
  }
  .salon__mapWrapper {
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
    max-width: 560px;
    width: 100%;
  }
  .salon__map {
    padding-bottom: 75%;
  }
  .salon__map iframe {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cta__heading {
    font-size: 25px;
  }
  .cta__headingPrimary {
    font-size: 30px;
  }
  .cta__vio, .cta__sparts {
    min-width: auto;
    width: 88%;
  }
  .cta__vio {
    margin-top: 28px;
  }
  .cta__plus {
    height: 48px;
    margin: 28px 0;
  }
  .cta__plus::after {
    width: 48px;
  }
  .cta__links {
    flex-direction: column;
    margin-top: 56px;
  }
  .cta__links .linkButton {
    width: 62%;
    margin: 0 auto;
    font-size: 18px;
    height: 64px;
  }
  .cta__links .linkButton.-tel {
    margin: 36px auto 0;
  }
  .cta__links .linkButton__text {
    min-width: 92px;
  }
  .merit {
    padding: 80px 0;
  }
  .merit__heading {
    font-size: 25px;
  }
  .merit__headingPrimary {
    font-size: 30px;
  }
  .merit__subHeading {
    font-size: 24px;
    margin: 12px 0 0;
  }
  .merit__list {
    flex-direction: column;
    margin: 32px auto 0;
  }
  .merit__item {
    width: 88%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 20px 32px;
  }
  .merit__item:not(:first-child) {
    margin: 32px auto 0;
  }
  .merit__item:nth-child(3) img {
    width: 60%;
  }
  .merit__itemHeading {
    margin: 10% auto 0;
    height: auto;
    font-size: 20px;
  }
  .merit__itemParagraph {
    font-size: 14px;
  }
  .merit__itemImageWrapper {
    margin: 32px auto 0;
  }
  .think {
    padding: 48px 0;
  }
  .think__heading {
    font-size: 25px;
    line-height: 1.9;
  }
  .think__headingSmall {
    font-size: 20px;
  }
  .think__headingLarge {
    font-size: 30px;
  }
  .think__image {
    margin: 24px auto 0;
    max-width: 420px;
  }
  .reason {
    padding: 48px 0;
  }
  .reason__heading {
    font-size: 25px;
    line-height: 1.9;
  }
  .reason__headingPrimary {
    font-size: 30px;
  }
  .reason__subHeading {
    font-size: 24px;
    margin: 16px 0 0;
  }
  .reason__lead {
    padding: 0 16px;
    margin: 40px auto 0;
    font-size: 15px;
  }
  .reason__lead:not(:first-of-type) {
    margin: 24px auto 0;
  }
  .reason__list {
    width: 88%;
    margin: 60px auto 0;
  }
  .reason__item img {
    width: 64%;
  }
  .reason__item:nth-child(odd) .reason__text {
    padding: 48px 20px 32px;
    left: 6%;
  }
  .reason__item:nth-child(odd) .reason__text::before {
    right: -8px;
    top: -66px;
  }
  .reason__item:nth-child(odd):not(:first-child) {
    margin-top: 300px;
  }
  .reason__item:nth-child(even) {
    margin-top: 320px;
  }
  .reason__item:nth-child(even) .reason__text {
    padding: 48px 20px 32px;
    width: 95%;
  }
  .reason__item:nth-child(even) .reason__text::before {
    left: -12px;
    top: -68px;
  }
  .reason__item:nth-child(4) {
    margin-top: 300px;
  }
  .reason__item:nth-child(5):not(:first-child) {
    margin-top: 280px;
  }
  .reason__item:nth-child(6) {
    margin-top: 300px;
    margin-bottom: 240px;
  }
  .reason__itemHeading {
    letter-spacing: 4px;
  }
  .reason__text {
    min-height: auto;
    top: 81%;
  }
  .reason__text::before {
    font-size: 110px;
  }
  .machine {
    padding: 64px 0;
  }
  .machine__heading {
    font-size: 25px;
  }
  .machine__heading:not(:first-of-type) {
    margin-top: 64px;
  }
  .machine__headingPrimary {
    font-size: 30px;
  }
  .machine__paragraph {
    margin: 40px 0 0;
    padding: 0 16px;
    font-size: 16px;
  }
  .machine__picture {
    margin: 12px auto 0;
    flex-direction: column;
    width: 88%;
  }
  .machine__image {
    width: 96%;
  }
  .machine__image:not(:first-of-type) {
    margin-top: 40px;
  }
  .machine__comparison {
    width: 88%;
    margin: 108px auto 0;
  }
  .machine__item {
    flex-direction: column;
  }
  .machine__item span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 102px;
    padding: 0 0 0 18px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    writing-mode: vertical-rl;
  }
  .machine__item span:not(:first-child) {
    margin-top: 4px;
  }
  .machine__item span:nth-child(3) {
    letter-spacing: 2px;
  }
  .machine__item span:last-child {
    letter-spacing: 2px;
  }
  .machine__specs {
    display: block;
    width: 40%;
    height: calc(100% + 80px);
  }
  .machine__specs.-zelmo {
    top: -80px;
    left: auto;
    right: 42%;
  }
  .machine__specs.-medical {
    top: -80px;
    bottom: auto;
    right: 0;
  }
  .machine__specsHeading {
    font-size: 16px;
    padding: 16px 2px;
  }
  .machine__evaluations {
    grid-template-rows: 102px 102px 102px 102px;
    grid-template-columns: auto;
  }
  .voice {
    padding: 60px 0;
  }
  .voice__heading {
    font-size: 25px;
  }
  .voice__headingPrimary {
    font-size: 30px;
  }
  .voice__list {
    margin: 24px auto 0;
  }
  .voice__item {
    width: 50%;
  }
  .flow {
    padding: 60px 0;
  }
  .flow__heading {
    font-size: 25px;
  }
  .flow__headingPrimary {
    font-size: 30px;
  }
  .flow__list {
    width: 88%;
    margin: 64px auto 0;
  }
  .flow__item {
    padding: 20px 4% 28px 24%;
  }
  .flow__item::before {
    font-size: 88px;
    top: -46px;
    left: 8px;
  }
  .flow__itemHeading {
    font-size: 22px;
  }
  .flow__itemParagraph {
    font-size: 15px;
  }
  .price {
    padding: 60px 0;
  }
  .price__heading {
    font-size: 25px;
  }
  .price__headingPrimary {
    font-size: 30px;
  }
  .price__subHeading {
    font-size: 24px;
    margin: 24px 0 0;
  }
  .price__vioItem {
    width: 33%;
  }
  .price__vioItem img {
    width: 100%;
  }
  .price__vioItemSpan {
    font-size: 18px;
  }
  .price__table {
    margin: 32px auto 0;
    font-size: 20px;
  }
  .price__table th,
  .price__table.-other th {
    width: 49vw;
  }
  .price__table td {
    width: 49vw;
    border: 2px solid #ae960e;
  }
  .price__caution small {
    font-size: 12px;
  }
  .price__otherList {
    flex-wrap: wrap;
  }
  .price__otherItem {
    width: 40%;
  }
  .price__otherItem img {
    width: 100%;
  }
  .price__otherItem:nth-child(odd) {
    margin-left: 0;
  }
  .price__otherItem:nth-child(n + 3) {
    margin-top: 24px;
  }
  .price__otherItemSpan {
    font-size: 18px;
  }
  .price__otherItemSmall {
    font-size: 13px;
  }
  .faq {
    padding: 60px 0;
  }
  .faq__heading {
    font-size: 32px;
  }
  .faq__subHeading {
    font-size: 22px;
  }
  .faq__itemQuestionNumber {
    font-size: 44px;
  }
  .faq__num {
    font-size: 28px;
    margin-left: 12px;
  }
  .faq__questionWrapper {
    padding: 8px 32px 20px 12px;
  }
  .faq__question {
    margin: 16px 0 0 24px;
    font-size: 16px;
  }
  .faq__iconHorizontal {
    right: 12px;
  }
  .faq__iconVertical {
    top: 44%;
    right: 19px;
  }
  .faq__answer {
    padding: 0 24px 24px;
  }
  .salon {
    padding: 60px 0 80px;
  }
  .salon__heading {
    font-size: 30px;
  }
  .salon__infoWrapper {
    width: 100%;
    margin: 32px auto 0;
  }
  .salon__image {
    width: 100%;
  }
  .salon__detail {
    flex-direction: column;
  }
  .salon__logo {
    max-width: 160px;
  }
  .salon__text {
    padding-left: 0;
  }
  .salon__text::before {
    content: none;
  }
  .salon__addresses {
    text-align: center;
  }
  .salon__address {
    margin: 16px 0 0;
    font-size: 15px;
    margin: 24px 0 0;
  }
  .salon__businessHours {
    display: block;
    text-align: center;
  }
  .salon__station {
    margin: 0;
    text-align: center;
  }
  .salon__mapWrapper {
    width: 100%;
  }
  .salon__map {
    padding-bottom: 59.47%;
  }
  .salon__ingo {
    padding-bottom: 32px;
  }
  .salon__infoWrapper:not(:first-of-type) {
    margin-top: 100px;
  }
  .salon__selector {
    width: 100%;
  }
  .form {
    padding: 60px 0;
  }
  .form__heading {
    font-size: 25px;
  }
  .form__headingPrimary {
    font-size: 30px;
  }
  .form__inner {
    width: 88%;
    margin: 32px auto 0;
    padding: 32px 24px;
  }
  .form__inputForm {
    margin: 32px 0 0;
  }
  .form__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__item input,
  .form__item select {
    width: 100%;
  }
  .form__itemName {
    margin-bottom: 8px;
  }
  .form__sendButtonWrapper {
    margin: 48px auto 0;
  }
  .form__sendButton {
    width: 100%;
    padding: 16px 0;
    font-size: 20px;
  }
  .footer {
    padding: 24px 0;
  }
  .footer__logo {
    width: 20%;
  }
}
