@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}
