@import "_variables";

.header {
  background-image: url(../img/mv_bg.jpg);
  background-size: cover;

  &__navLink {
    color: $white;
  }

  &__catch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  &__catchInner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mvText {
    width: 31.73vw;
  }

  &__mvImage {
    margin-left: 24px;
    width: 34vw;
  }
}

@include mq(pc) {
  .header {
    &__logo {
      position: absolute;
      left: 5%;
      display: none;

      a:hover {
        cursor: pointer;
      }
    }

    &__nav {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 0 auto;
      padding: 20px 6%;
      letter-spacing: 1px;
      transition: 0.2s;

      &.-tab {
        display: none;
      }

      &.-fixed {
        background-color: $white;
        align-items: center;
        position: fixed;
        z-index: 200;

        .header__logo {
          display: flex;
        }

        .header__navLink {
          color: $black;
        }

        & + .header__catch {
          padding-top: 90px;
        }
      }
    }

    &__navList {
      display: flex;
      flex-grow: 0.4;
      font-size: 17px;
      margin: 12px 0;
      align-items: center;
    }

    &__navItem {
      margin: 0 22px;
    }
  }

  .linkButton {
    height: 50px;
  }
}

@include mq(tab) {
  .header {
    &__nav {
      display: flex;
      position: sticky;
      bottom: 0;
      z-index: 100;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 4px;

      &.-pc {
        display: none;
      }
    }

    &__navLink {
      .linkButton {
        background-color: #766713;
      }
    }

    &__trigger,
    &__trigger span {
      box-sizing: border-box;
      display: inline-block;
      transition: all 0.4s;
    }

    &__trigger {
      position: relative;
      width: 48px;
      height: 100%;
      background-color: #524e4b;

      & span {
        position: absolute;
        left: 50%;
        width: 24px;
        height: 2px;
        background-color: #fff;

        &:first-of-type {
          transform: translate(-50%, 15px);
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:nth-of-type(3) {
          transform: translate(-50%, 31px);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__catch {
      padding-top: 2vw;
    }

    &__navList {
      display: none;
      position: absolute;
      bottom: 33px;
      right: 0;
      background-color: rgba(124, 119, 116, 0.9);
      border: 2px solid $white;
      padding: 20px 24px;
    }

    &__navLink {
      width: 48%;
      height: 48px;
    }

    &__navList {
      // hamburger menu
      .header__navLink {
        padding: 12px 24px 12px 0;
        border-bottom: 1px solid #fff;
        height: auto;
        display: block;
        width: 100%;
        position: relative;
        font-size: 15px;

        &::after {
          content: "";
          background-image: url(../img/icon_angle-light.png);
          background-size: cover;
          width: 7px;
          height: 12px;
          position: absolute;
          right: 0;
          top: 35%;
        }
      }
    }

    &__navItem {
      &:first-child {
        .header__navLink {
          border-top: 1px solid $white;
        }
      }

      &:last-child {
        .header__navLink {
          &::before {
            content: "";
            background-image: url(../img/icon_present-light.png);
            background-size: cover;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: 8px;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }
}

@include mq(mobile) {
  .header {
    &__catch {
      justify-content: flex-end;
      padding-top: 10vw;
    }

    &__catchInner {
      position: relative;
    }

    &__mvText {
      position: absolute;
      width: 80vw;
      left: -12vw;
      top: 34vw;
    }

    &__mvImage {
      width: 72.53vw;
    }

    &__nav {
      .linkButton__text {
        font-size: 15px;
      }
    }
  }
}
