@import "_variables";

.merit {
  background-color: #000000;
  padding: 104px 0 100px;

  &__heading {
    margin: 0;
    text-align: center;
    color: $white;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 1px;
  }

  &__headingPrimary {
    color: $gold;
    font-size: 55px;
  }

  &__subHeading {
    color: $gold;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin: 16px 0 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 40px auto 0;
  }

  &__item {
    background-color: $white;
    width: 32%;
    max-width: 310px;
    padding: 0 20px 56px;
    border: 3px solid $gold;

    &:not(:first-child) {
      margin-left: 24px;
    }

    &:first-child img {
      width: 64.5%;
    }

    &:nth-child(2) img {
      width: 41.22%;
    }

    &:nth-child(3) img {
      max-width: 180px;
      width: 80%;
    }
  }

  &__itemImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px auto 0;
    height: 41.36%;
  }

  &__itemImage {
    display: block;
  }

  &__itemHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16.8% auto 0;
    font-size: clamp(16px, 1.81vw, 26px);
    font-weight: 300;
    color: $gold;
    height: clamp(50px, 5.78vw, 82px);
    text-align: center;
    line-height: 1.6;
  }

  &__itemParagraph {
    margin: 5% 0 0;
    font-size: clamp(13px, 1.2vw, 16px);
    letter-spacing: 1px;
  }
}

.think {
  background-color: $gray;
  padding: 104px 0 100px;

  &__heading {
    margin: 0;
    text-align: center;
    font-weight: 300;
    line-height: 1.7;
    font-size: 45px;
    color: #000000;
  }

  &__headingSmall {
    color: $white;
    font-size: 35px;
  }

  &__headingLarge {
    color: $white;
    font-size: 55px;
    letter-spacing: 1px;

    .dot {
      &::before {
        background-color: $white;
      }
    }
  }

  &__image {
    display: block;
    margin: 40px auto 0;
    width: 70%;
    max-width: 970px;
  }
}

.reason {
  padding: 100px 0 180px;

  &__heading {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__subHeading {
    text-align: center;
    color: $gold;
    font-size: 35px;
    font-weight: 300;
    margin: 20px 0 0;
  }

  &__lead {
    text-align: center;
    line-height: 1.94;
    font-weight: 600;
    font-size: 18px;
    margin: 64px auto 0;

    &:not(:first-of-type) {
      margin: 40px auto 0;
    }
  }

  &__list {
    width: 80%;
    max-width: 1120px;
    margin: 108px auto 0;
  }

  &__item {
    position: relative;

    img {
      position: relative;
      z-index: 100;
      width: 44.64%;
    }

    &:not(:first-child) {
    }

    &:nth-child(odd) {
      margin-top: clamp(120px, 20vw, 130px);

      .reason__text {
        background-color: $gold;
        left: 18%;
        padding: 24px 5% 48px 32.14%;

        &::before {
          right: 48px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    &:nth-child(even) {
      margin-top: clamp(120px, 20vw, 130px);

      img {
        display: block;
        margin: 0 0 0 auto;
      }

      .reason__text {
        background-color: $gray;
        padding: 24px 32.14% 48px 5%;
        left: 0;
        width: 82.14%;

        &::before {
          left: 48px;
          color: rgba(174, 150, 14, 0.6);
        }
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    min-height: 306px;

    &::before {
      position: absolute;
      top: -146px;
      counter-increment: reason 1;
      content: counter(reason, decimal-leading-zero);
      font-size: 220px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -12px;
    }
  }

  &__itemHeading {
    color: $white;
    font-size: clamp(20px, 2vw, 27px);
    font-weight: 300;
    line-height: 1.85;
    letter-spacing: 6px;
    margin: 0;
    position: relative;
    z-index: 10;
  }

  &__itemParagraph {
    font-size: clamp(15px, 1.4vw, 17px);
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-feature-settings: "palt";
  }
}

.machine {
  padding: 100px 0;

  &__heading {
    margin: 0;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;

    &:not(:first-of-type) {
      margin-top: 80px;
    }
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__paragraph {
    text-align: center;
    font-weight: 600;
    margin: 56px 0 0;
    line-height: 1.9;
    font-size: 18px;

    &:not(:first-of-type) {
      margin-top: 32px;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
    width: 80%;
    max-width: 1060px;
  }

  &__image {
    width: 50%;
  }

  &__comparison {
    margin: 64px auto 0;
    position: relative;
    width: 96%;
    max-width: 966px;
  }

  &__item {
    display: flex;
    justify-content: flex-end;

    span {
      display: inline-block;
      width: 180px;
      height: 296px;
      padding: 8px 0;
      margin-left: 4px;
      color: $white;
      font-weight: 400;
      font-size: clamp(18px, 1.8vw, 25px);
      text-align: center;
      letter-spacing: 10px;
      text-indent: 10px;
      background-color: rgba(174, 150, 14, 0.6);
    }
  }

  &__specs {
    width: 100%;
    height: 114px;
    position: absolute;
    display: flex;

    &.-zelmo {
      top: 54px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.-medical {
      bottom: 0;
      background-color: rgba(58, 53, 49, 0.2);
    }
  }

  &__specsHeading {
    font-size: clamp(18px, 1.8vw, 25px);
    font-weight: 300;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &.-zelmo {
      color: $white;
    }

    &.-medical {
      color: $black;
    }
  }

  &__evaluations {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 180px 180px 180px 180px;
  }

  &__evaluation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: $white;
  }
}

.voice {
  background-color: $black;
  padding: 100px 0;

  &__heading {
    margin: 0;
    font-size: 45px;
    color: $white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 96%;
    max-width: 1060px;
    margin: 48px auto 0;
  }

  &__item {
    width: 33%;
  }

  &__image {
    width: 100%;
  }
}

.flow {
  padding: 100px 0;

  &__heading {
    font-size: 45px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0;
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__list {
    width: 96%;
    max-width: 800px;
    margin: 100px auto 0;
  }

  &__item {
    padding: 20px 40px 28px 140px;
    position: relative;

    &:first-child {
      box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.03);
    }

    &:nth-child(2) {
      background-color: #f7f7f7;
      box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.04);
    }

    &:nth-child(3) {
      background: #756f6a;
      box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.1);

      .flow__itemHeading {
        letter-spacing: 16px;
      }

      .flow__itemParagraph {
        color: $white;
      }
    }

    &:nth-child(4) {
      background-color: #3a3531;
      box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.08);

      .flow__itemParagraph {
        color: $white;
      }
    }

    &:not(:first-child) {
      margin-top: 80px;
    }

    &::before {
      position: absolute;
      top: -76px;
      left: 30px;
      color: $gold;
      counter-increment: flow 1;
      content: counter(flow) " ";
      font-size: 150px;
      font-weight: 800;
      line-height: 1;
    }
  }

  &__itemHeading {
    color: $gold;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
  }

  &__itemParagraph {
    margin: 4px 0 0;
    font-size: 17px;
    letter-spacing: 1px;
  }
}

.price {
  padding: 100px 0;

  &__heading {
    text-align: center;
    margin: 0;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 2px;
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__subHeading {
    margin: 32px 0 0;
    text-align: center;
    color: $gold;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;

    &.-other {
      margin: 48px 0 0;
    }
  }

  &__vioList {
    display: flex;
    width: 96%;
    max-width: 610px;
    margin: 20px auto 0;
  }

  &__vioItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__vioItemSpan {
    margin-top: 20px;
    text-align: center;
    color: $gold;
    font-size: 20px;
  }

  &__table {
    width: 96%;
    max-width: 974px;
    margin: 48px auto 0;
    font-size: 25px;
    border-spacing: 4px;

    tr {
      .price__parts {
        font-weight: 300;
        background-color: $gold;
      }
    }

    th {
      color: $white;
      background-color: $gold-light;
      font-weight: 300;
      width: 25%;
      padding: 21px 0;
    }

    td {
      border: 1px solid $gold;
      color: $gold;
      text-align: center;
      letter-spacing: 1px;
    }

    &.-other {
      margin-top: 16px;

      th {
        width: 20%;
      }
    }
  }

  &__caution {
    width: 96%;
    max-width: 974px;
    text-align: right;
    margin: 4px auto 0;

    small {
      display: block;
      color: $gold;
      font-size: 15px;
    }
  }

  &__otherList {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
  }

  &__otherItem {
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    color: $gold;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }

  &__otherItemSpan {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  &__otherItemSmall {
    display: block;
    text-align: center;
    font-size: 15px;
  }
}

.faq {
  background-color: #ebeaea;
  padding: 100px 0;

  &__heading {
    font-size: 60px;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
  }

  &__subHeading {
    margin: 8px 0 0;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    color: $gold;
  }

  &__list {
    width: 96%;
    max-width: 975px;
    margin: 28px auto 0;
  }

  &__item {
    background-color: #c0af50;
    box-shadow: 0px 0px 10.24px 5.76px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__questionWrapper {
    display: flex;
    padding: 8px 12px 20px;
    align-items: center;
    color: $white;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &__iconHorizontal {
    width: 15px;
    height: 1px;
    background-color: $white;
    position: absolute;
    top: 51%;
    right: 28px;
  }

  &__iconVertical {
    width: 1px;
    height: 15px;
    background-color: $white;
    position: absolute;
    top: 43%;
    right: 35px;
  }

  &__itemQuestionNumber {
    margin: 0;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
  }

  &__num {
    font-size: 40px;
    margin-left: 16px;
  }

  &__question {
    margin: 16px 0 0 32px;
    letter-spacing: 1px;
    font-size: 18px;
  }

  &__answer {
    padding-left: 120px;
    margin: 0;
    padding: 0 24px 24px 132px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    font-size: 16px;
    display: none;
  }
}

.salon {
  background-color: #3a3531;
  padding: 100px 0 192px;
  overflow-x: hidden;

  &__infoWrapper {
    position: relative;
    width: 96%;
    margin: 48px auto 0;
    max-width: 1120px;

    &:not(:first-of-type) {
      margin-top: 188px;
    }
  }

  &__heading {
    margin: 0;
    color: $white;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
  }

  &__info {
    background-color: $white;
    max-width: 560px;
    padding-bottom: 40px;
  }

  &__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  &__logo {
    margin: 0 32px;
    max-width: 124px;
  }

  &__image {
    vertical-align: bottom;
  }

  &__text {
    padding-left: 32px;
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 194px;
      display: block;
      background-color: #3a3531;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__selector {
    position: relative;
    width: 79%;

    &::before {
      content: "";
      height: 60%;
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translateY(-50%);
      background-color: $gold;
      width: 1px;
      z-index: 10;
    }

    &::after {
      content: "";
      position: absolute;
      top: 54%;
      right: 12px;
      width: 12px;
      height: 8px;
      background-image: url(../img/icon_angle.png);
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__addresses {
    font-style: normal;
    font-size: 14px;
  }

  &__address {
    margin: 0;
  }

  &__station {
    display: block;
    margin: 8px 0 0;
  }

  &__mapWrapper {
    position: absolute;
    top: 280px;
    left: 560px;
    width: 48.7%;
  }

  &__map {
    height: 0;
    overflow: hidden;
    padding-bottom: 71.28%;
    position: relative;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 96%;
    }
  }
}

.form {
  background-image: url(../img/bg_stripe.png);
  padding: 100px 0;

  &__heading {
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
  }

  &__headingPrimary {
    font-size: 55px;
    color: $gold;
  }

  &__inner {
    width: 96%;
    max-width: 1000px;
    margin: 48px auto 0;
    padding: 64px 100px;
    background-color: $white;
    box-shadow: 0px 0px 30px 0px rgba(118, 117, 118, 0.2);
  }

  &__lead {
    font-size: 15px;
    line-height: 2;
  }

  &__inputForm {
    margin: 48px 0 0;
  }

  &__item {
    display: flex;
    align-items: center;

    input,
    select {
      height: 48px;
      border: 1px solid $gold;
      padding-left: 1em;
      width: 79%;
    }

    select {
      appearance: none;
      width: 100%;
      -webkit-appearance: none;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__itemName {
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__required {
    color: #d4a852;
    margin-left: 2px;
  }

  &__sendButtonWrapper {
    text-align: center;
    margin: 32px auto 0;
  }

  &__sendButton {
    background-color: $gold;
    color: $white;
    border: none;
    font-size: 22px;
    padding: 24px 0;
    width: 380px;
    letter-spacing: 30px;
    text-indent: 30px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "→";
      position: absolute;
      pointer-events: none;
      right: 0;
    }
  }
}

.footer {
  background-color: #3a3531;
  text-align: center;
  padding: 48px 0;

  &__logo {
    width: 50%;
    max-width: 142px;
  }
}

@include mq(tab) {
  .cta {
    &__linksWrapper {
      .linkButton {
        height: 64px;

        &.-tel {
          margin-left: 24px;
        }
      }
    }
  }

  .reason {
    &__text {
      &::before {
        font-size: 160px;
        top: -96px;
        letter-spacing: -6px;
      }
    }

    &__list {
      margin: 80px auto 0;
    }

    &__item {
      &:first-child {
        margin-top: 0;
      }

      &:nth-child(odd) {
        .reason__text {
          padding: 24px 4% 48px 30.14%;

          &::before {
            right: 40px;
          }
        }
      }

      &:not(:first-child) {
        margin-top: clamp(120px, 36vw, 212px);
      }
    }

    &__itemHeading {
      font-size: clamp(16px, 2.13vw, 27px);
    }

    &__itemParagraph {
      font-size: clamp(13px, 1.4vw, 17px);
    }
  }

  .price {
    &__table {
      margin: 32px auto 0;
      font-size: 20px;

      th,
      &.-other th {
        width: 51vw;
      }

      td {
        width: 49vw;
        border: 2px solid #ae960e;
      }
    }
  }

  .salon {
    &__infoWrapper {
      &:not(:first-of-type) {
        margin-top: 120px;
      }
    }

    &__info {
      margin: 0 auto;
    }

    &__mapWrapper {
      margin: 0 auto;
      position: relative;
      left: 0;
      top: 0;
      max-width: 560px;
      width: 100%;
    }

    &__map {
      padding-bottom: 75%;

      iframe {
        width: 100%;
      }
    }
  }
}

@include mq(mobile) {
  .cta {
    padding: 64px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__vio,
    &__sparts {
      min-width: auto;
      width: 88%;
    }

    &__vio {
      margin-top: 20px;
    }

    &__plus {
      height: 48px;
      margin: 28px 0;

      &::after {
        width: 48px;
      }
    }

    &__links {
      flex-direction: column;
      margin-top: 56px;

      .linkButton {
        width: 62%;
        margin: 0 auto;
        font-size: 18px;
        height: 64px;

        &.-tel {
          margin: 32px auto 0;
        }

        &__text {
          min-width: 92px;
        }
      }
    }
  }

  .merit {
    padding: 80px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__subHeading {
      font-size: 24px;
      margin: 12px 0 0;
    }

    &__list {
      flex-direction: column;
      margin: 32px auto 0;
    }

    &__item {
      width: 88%;
      max-width: 420px;
      margin: 0 auto;
      padding: 0 20px 32px;

      &:not(:first-child) {
        margin: 32px auto 0;
      }

      &:nth-child(3) {
        img {
          width: 60%;
        }
      }
    }

    &__itemHeading {
      margin: 10% auto 0;
      height: auto;
      font-size: 20px;
    }

    &__itemParagraph {
      font-size: 14px;
    }

    &__itemImageWrapper {
      margin: 32px auto 0;
    }
  }

  .think {
    padding: 48px 0;

    &__heading {
      font-size: 25px;
      line-height: 1.9;
    }

    &__headingSmall {
      font-size: 20px;
    }

    &__headingLarge {
      font-size: 30px;
    }

    &__image {
      margin: 24px auto 0;
      max-width: 420px;
      width: 88%;
    }
  }

  .reason {
    padding: 48px 0;

    &__heading {
      font-size: 25px;
      line-height: 1.9;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__subHeading {
      font-size: 24px;
      margin: 16px 0 0;
    }

    &__lead {
      padding: 0 16px;
      margin: 40px auto 0;
      font-size: 15px;

      &:not(:first-of-type) {
        margin: 24px auto 0;
      }
    }

    &__list {
      width: 88%;
      margin: 60px auto 0;
    }

    &__item {
      img {
        width: 64%;
      }

      &:nth-child(odd) {
        .reason__text {
          padding: 48px 20px 32px;
          left: 6%;

          &::before {
            right: -8px;
            top: -66px;
          }
        }
      }

      &:nth-child(odd):not(:first-child) {
        margin-top: 300px;
      }

      &:nth-child(even) {
        margin-top: 320px;

        .reason__text {
          padding: 48px 20px 32px;
          width: 95%;

          &::before {
            left: -12px;
            top: -68px;
          }
        }
      }

      &:nth-child(4) {
        margin-top: 300px;
      }

      &:nth-child(5):not(:first-child) {
        margin-top: 280px;
      }

      &:nth-child(6) {
        margin-top: 300px;
        margin-bottom: 240px;
      }
    }

    &__itemHeading {
      letter-spacing: 4px;
    }

    &__text {
      min-height: auto;
      top: 81%;

      &::before {
        font-size: 110px;
      }
    }
  }

  .machine {
    padding: 64px 0;

    &__heading {
      font-size: 25px;

      &:not(:first-of-type) {
        margin-top: 64px;
      }
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__paragraph {
      margin: 40px 0 0;
      padding: 0 16px;
      font-size: 16px;
    }

    &__picture {
      margin: 12px auto 0;
      flex-direction: column;
      width: 88%;
    }

    &__image {
      width: 96%;

      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }

    &__comparison {
      width: 88%;
      margin: 108px auto 0;
    }

    &__item {
      flex-direction: column;

      span {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 102px;
        padding: 0 0 0 18px;
        margin: 0;
        font-size: 16px;
        text-align: left;
        writing-mode: vertical-rl;

        &:not(:first-child) {
          margin-top: 4px;
        }

        &:nth-child(3) {
          letter-spacing: 2px;
        }

        &:last-child {
          letter-spacing: 2px;
        }
      }
    }

    &__specs {
      display: block;
      width: 40%;
      height: calc(100% + 80px);

      &.-zelmo {
        top: -80px;
        left: auto;
        right: 42%;
      }

      &.-medical {
        top: -80px;
        bottom: auto;
        right: 0;
      }
    }

    &__specsHeading {
      font-size: 16px;
      padding: 16px 2px;
    }

    &__evaluations {
      grid-template-rows: 102px 102px 102px 102px;
      grid-template-columns: auto;
    }
  }

  .voice {
    padding: 60px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__list {
      margin: 24px auto 0;
    }

    &__item {
      width: 50%;
    }

    &__image {
      padding: 0 10px;
    }
  }

  .flow {
    padding: 60px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__list {
      width: 88%;
      margin: 64px auto 0;
    }

    &__item {
      padding: 20px 4% 28px 24%;

      &::before {
        font-size: 88px;
        top: -46px;
        left: 8px;
      }
    }

    &__itemHeading {
      font-size: 22px;
    }

    &__itemParagraph {
      font-size: 15px;
    }
  }

  .price {
    padding: 60px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__subHeading {
      font-size: 24px;
      margin: 24px 0 0;
    }

    &__vioItem {
      width: 33%;

      img {
        width: 100%;
      }
    }

    &__vioItemSpan {
      font-size: 16px;
    }

    &__caution {
      small {
        font-size: 12px;
      }
    }

    &__otherList {
      flex-wrap: wrap;
    }

    &__otherItem {
      width: 40%;

      img {
        width: 100%;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }

      &:nth-child(n + 3) {
        margin-top: 24px;
      }
    }

    &__otherItemSpan {
      font-size: 18px;
    }

    &__otherItemSmall {
      font-size: 13px;
    }
  }

  .faq {
    padding: 60px 0;

    &__heading {
      font-size: 32px;
    }

    &__subHeading {
      font-size: 22px;
    }

    &__itemQuestionNumber {
      font-size: 44px;
    }

    &__num {
      font-size: 28px;
      margin-left: 12px;
    }

    &__questionWrapper {
      padding: 8px 32px 20px 12px;
    }

    &__question {
      margin: 16px 0 0 24px;
      font-size: 16px;
    }

    &__iconHorizontal {
      right: 12px;
    }

    &__iconVertical {
      top: 44%;
      right: 19px;
    }

    &__answer {
      padding: 0 24px 24px;
    }
  }

  .salon {
    padding: 60px 0 80px;

    &__heading {
      font-size: 30px;
    }

    &__infoWrapper {
      width: 88%;
      margin: 32px auto 0;
    }

    &__image {
      width: 100%;
    }

    &__detail {
      flex-direction: column;
    }

    &__logo {
      max-width: 140px;
    }

    &__text {
      padding-left: 0;

      &::before {
        content: none;
      }
    }

    &__addresses {
      text-align: center;
    }

    &__address {
      margin: 20px 0 0;
      font-size: 15px;
    }

    &__businessHours {
      display: block;
      text-align: center;
    }

    &__station {
      display: block;
      text-align: center;
    }

    &__station {
      margin: 0;
      text-align: center;
    }

    &__mapWrapper {
      width: 100%;
    }

    &__map {
      padding-bottom: 59.47%;
    }

    &__ingo {
      padding-bottom: 32px;
    }

    &__infoWrapper {
      &:not(:first-of-type) {
        margin-top: 100px;
      }
    }

    &__selector {
      width: 100%;
    }
  }

  .form {
    padding: 60px 0;

    &__heading {
      font-size: 25px;
    }

    &__headingPrimary {
      font-size: 30px;
    }

    &__inner {
      width: 88%;
      margin: 32px auto 0;
      padding: 32px 24px;
    }

    &__inputForm {
      margin: 32px 0 0;
    }

    &__item {
      flex-direction: column;
      align-items: flex-start;

      input,
      select {
        width: 100%;
      }
    }

    &__itemName {
      margin-bottom: 8px;
    }

    &__sendButtonWrapper {
      margin: 48px auto 0;
    }

    &__sendButton {
      width: 100%;
      padding: 16px 0;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .footer {
    padding: 24px 0;

    &__logo {
      width: 20%;
    }
  }
}
