@import "_variables";

.yugothic {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 16px;
  background-color: $pink;
  padding: 2px 12px 2px 2px;

  &__icon {
    display: flex;
    padding: 8px;
    background-color: $white;
  }

  &__text {
    margin-left: 12px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  &.-tel {
    background-color: $black;
    margin-left: 40px;
  }

  &.-salon {
    padding: 0;
    margin: 20px 0;
    background-color: transparent;
    color: $black;
    justify-content: flex-start;
    pointer-events: none;
  }
}

.cta {
  background-image: url(../img/bg_stripe.png);
  background-size: cover;
  padding: 72px 0 100px;

  &__heading {
    margin: 0;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 45px;
  }

  &__headingPrimary {
    color: $gold;
    font-size: 55px;
  }

  &__vio,
  &__sparts {
    display: block;
    width: 60%;
    min-width: 600px;
    max-width: 845px;
    margin: 0 auto;
  }

  &__vio {
    margin-top: 40px;
  }

  &__plus {
    width: 100%;
    height: 70px;
    display: block;
    position: relative;
    margin: 32px 0;

    &::before {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      background-color: $gold;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      width: 70px;
      height: 4px;
      position: absolute;
      background-color: $gold;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    .linkButton {
      width: 322px;
      justify-content: space-between;
      font-size: 22px;
      height: 74px;
    }

    .linkButton__icon {
      padding: 16px 12px;
    }

    .linkButton__text {
      letter-spacing: 2px;
      flex-grow: 0.5;
    }
  }
}

.dot {
  position: relative;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $gold;
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translateX(-50%);
  }
}

.address-copy {
  background-color: transparent;
  border: 1px solid $gold;
  color: $gold;
  margin-top: 8px;
  padding: 8px 22px;
  font-size: 13px;

  &:hover {
    cursor: pointer;
  }
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  &__bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &__content {
    background: #c9bb98;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &__closeButton {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 18px;
    padding: 2px;
    color: $black;
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }

  &__paragraph {
    font-size: 30px;
    text-align: center;
    margin: 32px auto 0;
  }

  &__shopNameWrapper {
    max-width: 384px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      border: 1px solid #3a3531;
    }

    &:first-of-type {
      margin-top: 16px;
    }

    &:nth-of-type(2) {
      margin-top: 24px;
    }
  }

  &__shopName {
    font-size: 24px;
    letter-spacing: 2px;
    background-color: #c9bb98;
    position: relative;
    z-index: 10;
    padding: 0 8px;
  }

  &__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8px auto 0;
    max-width: 384px;
    padding: 8px 0;
    background-color: #3a3531;
    text-align: center;
    color: $white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
    pointer-events: none;
  }

  &__icon {
    width: 30px;
    height: auto;
    margin-right: 20px;
  }
}
