// Border
// $border-radius-regular: 4px;
// $border-width-regular: 1px;

// hover Opacity Rule
// $--hover-opacity: 0.6;

// color
$white: #ffffff;
$black: #3a3531;
$gray: #9c9a98;
$pink: #f03a74;

$gold: #ae960e;
$gold-light: #c6b556;

$breakpoints: (
  "mobile": "screen and (max-width: 768px)",
  "tab": "screen and (max-width: 1024px)",
  "pc": "screen and (min-width: 1025px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
