@charset "UTF-8";

* {
	font-family: sans-serif;
}
body {
	background: #fefefe;
	background-size: cover;
	text-align: center;
}
div#wrapper {
	width: 800px;
	text-align: left;
	background-color: rgba(255,255,255,0);
	margin: 10px auto;
	border: none;
}

div#wrapper div#header,div#wrapper div#footer {
	border: none;
	background-color: rgba(255,255,255,0);
	background-size: 100% 100%;
}
div#wrapper div#header {
	margin: 5px;
	padding: 10px 30px;
	border-radius: 5px;
	position: relative;
}
div#wrapper div#header h1 {
	color: #222;
	font-size: 3rem;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}
div#wrapper div#header p {
	padding: 0px;
	line-height: 1em;
	color: #222;
}

.h-logo {
	position: absolute;
	width: 100px;
	height: 100px;
	right: 10px;
	top: 50%;
	margin-top: -50px;
	background-image: url(../img/footer_logo.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
}

.h-logo span {
	display: none;
}

div#wrapper div#container {
	padding: 0px 20px;
	background: rgba(255,255,255,0);
}
div#wrapper div#footer {
	color: #666;
	clear: both;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}
div#footer a, .mailform a,.contact-info a {
	text-decoration: underline;
	color: #666;
}
div#footer a:hover, .mailform a:hover,.contact-info a:hover {
	text-decoration: none;
	color: #AAA;
}

ul.example_pages {
	border: solid 1px #CCC;
	padding: 15px 30px;
}
ul.example_pages li {
	padding: 5px 0px;
}
div#example_selector {
	padding: 10px 0px;
	text-align: left;
}
div#example_selector span {
	display: block;
	font-size: 14px;
	padding: 5px 0px;
}
div#example_selector select {
	font-size: 18px;
	border-radius: 3px;
	border: solid 1px #CCC;
	padding: 5px 10px;
	box-shadow: 0px 0px 5px #CCC inset;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	outline: none;
}
div.tips {
	margin: 10px auto;
	padding: 5px 20px;
	border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 0px 2px 10px #CCC;
	background: #FEE;
}
div.tips p {
	font-size: 14px;
	line-height: 2em;
}
div.tips strong {
	color: #800040;
}
div.tips span {
	display: block;
	padding: 5px 10px;
	color: #008080;
}
div.tips em {
	font-style: normal;
	color: #090;
	font-weight: bold;
}
div.tips ol li {
	padding: 10px;
	margin: 15px;
	font-size: 12px;
	line-height: 1.7em;
	border: solid 1px #CCC;
	border-radius: 5px;
	background: #FFF;
}
div.tips ol li span {
	padding: 0px 10px;
}
div.tips ol li img {
	display: block;
	width: 280px;
	border: none;
	margin: 5px auto;
}
@media screen and (max-width: 800px) {
	body {
		padding: 0px;
		margin: 0px;
	}
	div#wrapper {
		border-radius: 0px;
		padding: 0px;
		margin: 0px;
		width: 100%;
		box-shadow: none;
		border: none;
	}
	div#wrapper div#header {
		border-radius: 0px;
		padding: 10px;
	}
	div#wrapper div#header h1 {
		font-size: 24px;
	}
	form#mailformpro dl dt {
		float: none;
		width: auto;
		font-size: 12px;
		padding: 5px;
		text-align: left;
	}
	form#mailformpro dl dd {
		clear: both;
		border-top: none;
		padding: 5px 15px;
		font-size: 12px;
		line-height: 1.5em;
	}
	div.mfp_buttons button {
		font-size: 14px;
	}
	table#mfp_confirm_table tr th {
		white-space: nowrap;
		width: 100px;
	}
	div#mfp_thanks {
		text-align: center;
		font-size: 18px;
		padding: 20px 0px;
	}
	div#mfp_thanks strong {
		color: #C00;
		font-size: 24px;
		display: block;
	}
}

label {
	width: 90%;
}

.checkbox04-input{
  display: none;
}
.checkbox04-parts{
  position: relative;
  padding: 15px 5px 15px 43px;
  transition:.3s;
  color: #444;
  border-radius: 8px;
  border: 1px solid #ddd;
  display:inline-block;
  line-height:1;
	width: 95%;
}
.mfp_checked > .checkbox04-parts{
  background: #ff555e;
  color: #fff;
  border: 1px solid #ff555e;
}
.checkbox04-parts::before{
  content: "";
  display: block;
  left: 4px;
  width: 30px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
}
.checkbox04-parts::after{
  content: "";
  display: block;
  position: absolute;
  top:17px;
  left: 6px;
  width: 13px;
  height: 13px;
  background: #aaa;
  border-radius: 50%;
  transition:.2s;
  display: block;
}
.mfp_checked > .checkbox04-parts::before {
  border: 1px solid #ff555e;
}
.mfp_checked > .checkbox04-parts::after {
  left: 21px;
  background: #ff555e;
}

input {
font-size: 115%;
}

textarea {
font-size: 115%;
}
.mincho {
font-family: "Shuei Mincho B", "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}
 p.mincho {
	line-height: 1.8rem;
}

.caution-rsv {
	color: #222;
	font-size: .8rem;
}

.caution-rsv span {
	color: rgba(220,32,0,1);
	font-size: .9rem;
}

.cancel-policy {
	display: inline-block;
	border: #999 1px solid;
	margin: 10px auto 0 auto;
	padding: 5px 10px;
	color: #666;
}

.cancel-policy p {
	text-align: left;
}

.cancel-policy p.cancel-title {
	text-align: center;
	margin: 0 auto;
}

.contact-info {
	display: block;
	border: #999 1px solid;
	margin: 50px auto 20px auto;
	padding: 20px;
	color: #666;
	width: 90%;
	max-width: 400px;
	position: relative;
}

.contact-info p {
	text-align: left;
	font-size: .9rem;
}

.contact-info p.contact-info-title {
	text-align: center;
	margin: 0 auto;
	font-size: 1.2rem;
}

#ThanksComment {
	font-size: 1.4rem;
}

@media screen and (min-width: 769px){
  .br-sp { display:none; }
}

@media screen and (min-width: 981px){
	div#wrapper {
		width: 980px;
	}
	ul.r-box, ol.r-box {
    display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	ul.r-box li, ol.r-box li {
		flex-basis: 45%;
	}
	
	ul.r-box li label, ol.r-box li label {
			width: 90%;
	}
}
